/*GLOBAL STYLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.3;
  background-color: #222;
  font-family: Arial;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

section {
  height: 100vh;
  padding: 2rem 0;
}

.container {
  width: 80%;
  margin:0 auto;
}

.small-container {
  width: 90%;
  margin:0 auto;
}

/*MODALS

/*signup modal*/
.signup-modal, .login-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.signup-form {
  background-color: rgb(255, 255, 255);
  width: 50%;
  position: relative;
}

.signup-form header {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.signup-form img {
  height: 10vh;
  width: 10vh;
}

.signup-form h2 {
  color: rgb(17, 17, 17);
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}

.modal-close {
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: color .25s ease-in;
  font-size: 1.4rem;
  height: 10vh;
  width: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-close:hover {
  color: rgba(0, 0, 0, 0.75);
}

.signup-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-form form label {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
  padding-top: 1.5rem;
}

.signup-form form input {
  width: 100%;
  height: 2.8rem;
  padding-left: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: .5rem;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  transition: all 0.30s ease-in-out;
  border-radius: .25rem;
}

.signup-form form input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.signup-form footer {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.signup-form footer button {
  all: unset;
  text-align: center;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  height: 8vh;
  background-color: rgba(17, 17, 17, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
.showcase {
  height: 75vh;
  background-attachment: fixed;
  background-image: url("../img/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase h2 {
  font-size: 1.2rem;
  background-color: rgba(17, 17, 17, 0.9);
  padding: 2rem 0;
  width: 16rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-weight: 400;
  border-right: 3px solid rgba(255, 255, 255, 0.9);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(34, end),
    blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 255, 255, 0.9); }
}

@keyframes typing {
  from { width: 0 }
  to { width: 16rem }
}

nav {
  height: 25vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 50%;
  justify-content: space-between;
  font-size: 1.4rem;
}

nav ul li, nav ul li a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
  text-transform: capitalize;
}

nav ul li:hover, nav ul li a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.fa-bars {
  display: none;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
}

#side-menu {
  transition: .5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0px;
  overflow-x: hidden;
  background-color: #111;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
}

#side-menu ul {
  margin-top: 15%;
  list-style: none;
  margin-left: 20%;
}

#side-menu ul li, #side-menu ul li a {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  transition: .5s;
  opacity: 0;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
}

#side-menu ul li:hover, #side-menu ul li a:hover {
  margin-left: 5%;
}

.close {
  position: absolute;
  top: 0;
  right: 5%;
  cursor: pointer;
}

nav img {
  height: 25vh;
  width: 25vh;
}

/*FOOTER*/
.footer {
  height: 35vh;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.footer main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer main h2 {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-weight: 400;
}

.footer .location p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  text-align:center;
}

.footer ul.extra {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 40%;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  font-weight: 600;
}

/*ABOUT SECTION*/
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}

.testimonial {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 10px 12.5rem rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.testimonial:hover {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
}

.testimonial h3 {
  color: #fff;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  padding: 2rem 0;
  font-weight: 300;
  font-size: 2rem;
  transition: .5s;
  width: 80%;
  text-align: center;
}

.testimonial:hover h3 {
  font-size: 0px;
  border: 0;
}

.info {
  grid-area: 1/2/3/3;
  background-color: #111;
  border-radius: 1rem;
  padding: 2rem 0;
}

.info h2 {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
}

.info span {
  display: none;
}

.info p {
  color: rgba(255, 255, 255, 0.75);
  width: 90%;
  margin: auto;
  transition: 1s;
}

.fa-arrow-circle-down, .fa-arrow-circle-up {
  cursor: pointer;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.testimonial1 {
  grid-area: 1/1/2/2;
  background-image: url("../img/testimonial-1.jpeg");
}

.testimonial2 {
  grid-area: 2/1/3/2;
  background-image: url("../img/testimonial-2.jpeg");
}

/*WORK SECTION*/
.work {
  display: flex;
  flex-direction: row;
}

.col-1 {
  width: 40%;
  height: 100%;
}

.col-2 {
  width: 30%;
  height: 100%;
  line-height: 0;
}

.images {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1, .img2, .img3, .img4 {
  width: 100%;
  height: 50%;
  transition: filter .5s;
}

/*IMAGE 1*/
.img0 {
  height: 100%;
  width: 100%;
  background-image: url("../img/img-1.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  filter: grayscale(100%);
  transition: filter .5s ease-in;
}

.img0:hover{
  filter: grayscale(0);
}

.img0 a {
  color: transparent;
  transition: color .5s ease-in;
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.img0::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 40%;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.9);
  transform: scaleX(0);
  transition: transform .5s ease-in;
  transform-origin: right;
  /* backdrop-filter: grayscale(100%); */
}

.img0:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.img0:hover a {
  color: rgba(255, 255, 255, 0.9);
}

.socials {
  width: 30%;
  display: flex;
  justify-content: space-around;
  padding-top: .5rem;
}

.socials a i:hover {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width:1200px) {
  nav ul {
    width: 60%;
  }
}

@media screen and (max-width:800px) {
  html {
    font-size: 14px;
  }

  .signup-form {
    width: 75%;
  }

  .footer ul.extra {
    width: 50%;
  }
}

@media screen and (max-width:780px) {
  .info {
    grid-area: 2/1/3/3;
  }

  .testimonial2 {
    grid-area: 1/2/2/3;
  }

  nav ul {
    width: 70%;
  }

  .col-1 {
    display: none;
  }

  .col-2 {
    width: 100%;
    height: 50%;
  }

  .img1, .img2, .img3, .img4 {
    height: 100%;
  }
}

@media screen and (max-width:500px) {
  .about {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .testimonial2 {
    grid-area: 2/1/3/2;
  }

  .info {
    grid-area: 3/1/4/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .info p {
    display: none;
  }

  .info span {
    display: block;
  }

  .fa-bars {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  section.work.container {
    height: 200vh;
  }

  .img1, .img2, .img3, .img4 {
    width: 100%;
    height: 50%;
    filter: none;
  }

  .col-2 {
    width: 100%;
    height: 50%;
  }

  .work {
    flex-direction: column;
  }

  .signup-form {
    width: 90%;
  }

  .footer ul.extra {
    width: 96%;
  }
}

@media screen and (pointer:coarse) {
  .showcase {
    background-image: url("../img/img-8.jpg");
  }
}
